# Git
.git
.gitignore

# IDE
.idea
.vscode

# Dependencies
node_modules

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# 개발 편의성
prettier.config.js
eslint.config.js

